<!DOCTYPE html>
<html lang="en">

<head>
  <title>My First Project- Aztec Game Studios</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <style type="text/css">
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: rgb(0,0,0);
        text-align: center;
    }
    body {
        background-color: rgb(135,135,135);
    }
</style>
</head>

<body>
    <div class="footer panel-footer panel-custom">
    <span class="text-muted">
        <!--date of copyright-->
        <script type="text/javascript">
            date = new Date();
            month = date.getMonth();
            day = date.getDate();
            year =  date.getFullYear();
            
            document.write(month + '-' + day + '-' + year);
            
        </script>
        <i> ©Copyright. All Rights Reserved</i>
      
    </span>
    </div>
</body>
      
</html>