<!--Main Page-->
{% extends 'layout.html' %}

{% block title %}
    Aztec Game Studios
{% endblock %}

{% block content %}
   
    <h2 align="center"> Aztec Game Studio </h2>
    <br />
    <p style="color:white" align="center"> This is a project for CS547 Programming in Scripting language. It is a website for a game studio developing indie games.</p>

    <br />
    <h4 align="center"> List of games</h4>
    <div class="row">
        <div class="card img-fluid" >
            <img src="../static/images/poster2.jpeg">
        </div>
        <div class="card">
            <img src="../static/images/game2.jpg">
        </div>
        <div class="card">
            <img src="../static/images/poster1.jpg">
        </div>
    </div>

{% endblock %}